* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
.main-dropdown {
  background-color: black;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  padding: 10px;
  font-weight: 500;
  text-decoration: underline;
}

.semi-header {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1.2em;
}
.semi-header a {
  color: black;
  text-decoration: none;
  font-size: 10px;
  padding: 0px;
}
header {
  padding: 10px 20px;
  /* border: 1px solid black; */
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.li {
  display: flex;
  align-items: center;
  gap: 1.2em;
}
.li a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}
.li2 a {
  color: red;
}
.form-control {
  background-color: #eceff1;
}
.fa-magnifying-glass {
  display: flex;
  align-items: center;
  margin-left: -48px;
}
.right-side {
  display: flex;
  align-items: center;
  gap: 1.8em;
  cursor: pointer;
}
.fa-bars {
  font-size: 20px;
  /* visibility: hidden; */
}
.header-icon {
  display: none;
}
.fa-user {
  color: black;
}
.logo {
  width: 90px;
}
.drop-dropdown{
  position: absolute;
  z-index: 999;
  background-color: white;
  width: 100%;
  top: 8em;
  left: 0em;
  height: 50vh;
  display: none;
}
.menu1:hover .drop-dropdown{
  display: block;
  -webkit-transition-delay: 0s;
}
.dropdown{
  display: flex;
  margin-top: 2em;
  justify-content: space-around;
  background-color: white;
}
.dropdown-menu{
  line-height: 1.4em;
}
.dropdown-menu h5 a{
  font-size: 1.3em;
}
.dropdown-menu h5 a:hover{
  border-bottom: 1px solid black;
}
.dropdown-menu h5{
  margin-bottom: 0.8em;
}
.dropdown-menu li a{
  font-weight: 350;
}
.dropdown-menu li a:hover{
  border-bottom: 1px solid black;
}

@media (max-width: 992px) {
  .li {
    display: none;
  }

  .input {
    display: none;
  }
  .favourite {
    visibility: hidden;
  }
  .header-icon {
    display: block;
  }
  .semi-header {
    display: none;
  }
  .logo {
    width: 50px;
  }
  .community-sect {
    flex-direction: column;
  }
  .top-text p {
    justify-content: left;
    margin-left: -20px;
  }
  .carousel-container {
    justify-content: left;
    margin-left: -60px;
  }
}

/* hero-sect */
.hero-sect {
  display: block;
  position: relative;
  padding: -10px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  padding: 12px 18px;
  top: 540px;
  left: 200px;
}
.button-container a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 600;
  font-family: sans-serif;
}
.shop-now-button {
  background-color: #fff;
  padding: 8px 18px;
  border: 2px solid #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3 ease;
}
.shop-now-button:hover {
  color: #d9d1d19f;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
.hero-section h2 {
  position: absolute;
  align-items: center;
  top: 380px;
  left: 200px;
  font-size: 44px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}
.hero-section p {
  position: absolute;
  align-items: center;
  top: 450px;
  left: 200px;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}
.top-text p {
  font-weight: 700;
  font-size: 28px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  margin-left: 100px;
  padding: 20px;
}
@media (max-width: 1257px) {
  .original-image {
    width: 100%;
    /* height: 200%; */
  }
}
@media (max-width: 1086px) {
  .card {
    width: 220px;
  }
  .carousel {
    padding: 8px 0;
  }
  .price {
    margin-bottom: 6px;
  }
  .card {
    flex: 0 0 15%;
  }
}
@media (max-width: 1107px){
  .hero-section h2{
    top: 400px;
    left: 120px;
  }
  .hero-section p{
    left: 120px;
    top:470px;
  }
  .button-container{
    left: 120px;
    top: 550px;
  }
}
@media (max-width: 1034px){
  .hero-section h2{
    top: 400px;
    left: 80px;
  }
  .hero-section p{
    left: 80px;
    top:470px;
    font-size: 12px;
  }
  .button-container{
    left: 80px;
    top: 530px;
    padding: 8px 12px;
  }
}
@media (max-width: 997px){
  .hero-section h2{
    top: 360px;
    left: 60px;
  }
  .hero-section p{
    left: 60px;
    top:420px;
    font-size: 12px;
  }
  .button-container{
    left: 60px;
    top: 480px;
    padding: 8px 12px;
  }
}
@media (max-width: 960px){
  .hero-section h2{
    top: 310px;
    left: 60px;
    font-size: 26px;
  }
  .hero-section p{
    left: 60px;
    top:345px;
    font-size: 11px;
  }
  .button-container{
    left: 60px;
    top: 400px;
    padding: 8px 12px;
  }
}
@media (max-width: 814px){
  .hero-section h2{
    top: 290px;
    left: 40px;
    font-size: 24px;
  }
  .hero-section p{
    left: 40px;
    top:325px;
    font-size: 11px;
  }
  .button-container{
    left: 40px;
    top: 380px;
    padding: 8px 12px;
  }
}
@media (max-width: 750px){
  .hero-section h2{
    top: 250px;
    left: 40px;
    font-size: 24px;
  }
  .hero-section p{
    left: 40px;
    top:290px;
    font-size: 11px;
  }
  .button-container{
    left: 40px;
    top: 340px;
    padding: 8px 12px;
  }
}
@media (max-width: 663px){
  .hero-section h2{
    top: 210px;
    left: 40px;
    font-size: 24px;
  }
  .hero-section p{
    left: 40px;
    top: 245px;
    font-size: 10px;
  }
  .button-container{
    left: 40px;
    top: 300px;
    padding: 8px 12px;
  }
}
@media (max-width: 558px){
  .hero-section h2{
    top: 190px;
    left: 40px;
    font-size: 20px;
  }
  .hero-section p{
    left: 40px;
    top: 220px;
    font-size: 10px;
  }
  .button-container{
    left: 40px;
    top: 280px;
    padding: 6px 8px;
  }
}
@media (max-width: 517px){
  .hero-section h2{
    top: 160px;
    left: 40px;
    font-size: 20px;
  }
  .hero-section p{
    left: 40px;
    top: 190px;
    font-size: 10px;
  }
  .button-container{
    left: 40px;
    top: 240px;
    padding: 6px 8px;
  }
}
@media (max-width: 435px){
  .hero-section h2{
    top: 140px;
    left: 30px;
    font-size: 18px;
  }
  .hero-section p{
    left: 30px;
    top: 170px;
    font-size: 10px;
  }
  .button-container{
    left: 30px;
    top: 220px;
    padding: 6px 8px;
  }
}
@media (max-width: 389px){
  .hero-section h2{
    top: 130px;
    left: 30px;
    font-size: 18px;
  }
  .hero-section p{
    left: 30px;
    top: 155px;
    font-size: 6px;
  }
  .button-container{
    left: 30px;
    top: 200px;
    padding: 6px 8px;
  }
}

/* card-section */

.carousel {
  display: flex;
  gap: 16px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 10px 0;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 20%;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.card img {
  width: 100%;
  display: block;
}
.card-hover:hover {
  border: thin solid black;
}

.card-content {
  padding: 16px;
}

.price {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin-bottom: 8px;
  cursor: pointer;
}
.price:hover {
  transform: translateX(20deg);
  animation: infinite;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: initial;
}
@keyframes infinite {
  0% {
    transform: forwards(0deg);
  }
  100% {
    transform: forwards(90deg);
  }
}
.product-title {
  font-size: 14.5px;
  color: #888;
  margin-bottom: 4px;
}

.subtitle {
  font-size: 14px;
  color: #888;
}

.heart-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
}

.heart-icon:hover {
  color: #ff4d4d;
}
.shopforeveryone {
  padding: 10px;
  background-color: white;
}
.shopping-sect {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  gap: 2.3em;
}
.shopping-text {
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  padding: 10px;
  text-align: left;
  display: flex;
}

.shop-image {
  width: 350px;
}

.shop-image1 {
  width: 340px;
}
.top-text2 p {
  font-weight: 700;
  font-size: 28px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  margin-left: 100px;
  padding: 50px;
}
/* addidas text */
.addidas-text h2 {
  padding-top: 90px;
  text-align: center;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
}
.addidas-text p {
  text-align: center;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  padding-bottom: 130px;
}
/* join the community */
.community-sect {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ede734;
  padding: 38px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.community-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.community-button a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: sans-serif;
  background-color: black;
  padding: 20px 26px;
}
/* footer */
.footer {
  display: flex;
  justify-content: space-around;
  padding: 26px;
  background-color: #ffffff;
}

.footer-section h2 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li a {
  text-decoration: none;
  color: #282c31;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}
/* Bottom Footer */
.bottom-footer {
  background-color: #282c31;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

.bottom-footer a {
  color: #cecdcd;
  text-decoration: none;
  margin: 0 10px;
  font-size: 12px;
}
